/**-------------AUTOR----------------
@Daniel Ferraz / 4° Informática
EMAIL -  Daniel0ferraz@outlook.com
Whatsapp - 73 99990-0012
Projeto - Biblioteca Online
Ùltima Atulização em: 10/10/2019 ás 15:50
-----------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVEGAÇÃO */
nav.navbar-inverse {
    padding: 12px 0px;
    background: #8896AB;
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-brand {
    padding: 5px 10px
}

.img-logo {
    height: 64px;
    width: 190px;
    margin-top: -13px;
    color: transparent;
    display: block;
    background: url('../imagens/logo_vetor_lateral.png') no-repeat;
}

.nav2 {
    margin-top: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}

/* Nav tab */
.nav-custom>li>a {
    position: relative;
    display: grid;
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
}

.nav-custom>li>a>i {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.icone {
    padding: 20px;
    text-align: center;
    font-size: 70px;
    background: rgba(241, 240, 240, 0.623);
}

.box-titulo {
    padding: 10px 24px;
    padding-bottom: 0.75rem;
    position: relative;
}

.box span {
    font-size: 16px;
}

#numeros {
    font-size: 18px;
}

/* Aba relatório */
.relatorio {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.relatorio legend{
    font-size: 28px;
    padding-bottom: 10px;
    border: none;
}

/* Aba Consulta */
.consult {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Cadastro de Usuarios */
.cadastro {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cadastro legend {
    margin-top: 28px;
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 400;
    border-bottom: none;
}
.cadastro form {
    padding: 20px;
    /* background: #f5f5f5e7; */
    padding-bottom: 40px;
}

.cadastro label {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 4px;
}

.cadastro .form-control {
    height: 40px;
}

.cadastro .form-group {
    margin-bottom: 20px;
}

.cadastro .btn {
    margin-top: 15px;
    padding: 11px 16px;
}

.cadastro button {
    padding-top: 20px;
    font-size: 17px;
}
/* Livros */
section.livros{
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.livros legend{
    font-size: 28px;
    /* margin-bottom: 10px; */
    border: none;
}
.livros label{
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 4px;
}
.livros .form-control{
    height: 40px;
}
    
@media screen and (max-width: 767px) {
    .nav-custom {
        display: flex;
        margin-top: -6px;
    }
    .nav-custom>li>a {
        font-size: 14px;
        display: grid;
    }
    .nav-custom>li>a>i {
        font-size: 35px;
    }
    /* Relatorio */
    .relatorio legend {
        font-size: 20px;
        font-weight: 400;
        border-bottom: none;
    }
    /* panel box icones */
    h4 {
        font-size: 15px;
    }
    .icone {
        font-size: 35px;
        padding: 2px;
    }
    #numeros {
        display: block;
        margin-top: 8px;
        font-size: 10px;
    }
    .btn-custom {
        margin: 10px 15px;
    }

    /*tabela*/
    thead{
        display: block;
    }
     tbody, th, td, tr {
        display: block;
    }
    td {
        /* Behave  like a "row" */
       
        padding-left: 50%;
    }
}




