/**-------------AUTOR----------------
@Daniel Ferraz / 4° Informática
EMAIL -  Daniel0ferraz@outlook.com
Whatsapp - 73 99990-0012
Projeto - Biblioteca Online
Ùltima Atulização em: 10/10/2019 ás 15:50
-----------------------------------------*/
* {
    box-sizing: border-box;
}

html,
body,
.capa {
    height: 100%;
    overflow: auto;
}

body {
    background-attachment: fixed;
    font-family: Roboto, Arial, Helvetica, Sans-serif;
    overflow-x: hidden;

}

/* -- Imagem de capa -- */
.capa {
    display: table;
    width: 100%;
  	/* background: url('../imagens/vector.png') no-repeat center;
    background-size: cover; */
}

.texto-capa {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

.btn-custom {
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    line-height: 1;
    color: #fff;
    background: #5D9CEC;
    text-decoration: none;
    transition: background 0.4s, color 0.4s;

}

.btn-custom:hover {
    background: #5D9CEC;
    color: #fff;

}

h1 {
    letter-spacing: -0.05em;
    margin-bottom: 10px;
}

p {

    font-size: 18px;
}

/* Media queries */

@media screen and (max-width: 767px) {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 15px;
    }

    .btn-custom {
        margin: 10px 15px;
    }

    img {
        margin: 10px 5px;
    }
}

/*sm*/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 60px;
    }
}

/*md*/
@media screen and (min-widht: 992px) {
    h1 {
        font-size: 70px;
    }
}

/* Fim Media queries */